/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
  font-size: 1.2em;
}
p.justificado {
  text-align: justify;
}
p.novecentospx {
  max-width: 900px;
  margin: auto;
}


.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  /* height: 500px; */
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* CSS personalizado */

body {
  /* display: flex;
  min-height: 100vh;
  flex-direction: column; */
  background-color: black;
  background-image: linear-gradient(to bottom, black, grey);
  color: white;
}

img#foto-de-perfil {
  height: 50px;
}

a#logo-container {
  padding-top: 6px;
}

div#header-text {
  max-width: 500px;
}

h5.personalizado {
  padding: 7px 0px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  font-weight: bold;
}