@charset "UTF-8";

:root {
    --height-header-elem: 10px;
    --width-nav-max: 1000px;
    --width-nav-min: 250px;
    --width-nav-std: 80%;
    --width-logo: 30%;
}

body {
    margin: 0px;
}

header {
    background-color: blanchedalmond;
    min-height: 100px;
}

header>nav {
    width: var(--width-nav-std);
    min-width: var(--width-nav-min);
    max-width: var(--width-nav-max);

    margin: auto;
}

header>nav>div {
    display: inline;
    width: var(--width-logo);
}

header>nav>ul {
    width: calc(100% - var(--width-logo));
}

header>nav>ul>li {
    display: inline;
    margin: 0px 10px
}





footer {
    background-color: blanchedalmond;
}



/* *********************************** */
/* *********************************** */
/*                                     */
/* CLASSES PERSONALIZADAS E UNIVERSAIS */
/*                                     */
/* *********************************** */
/* *********************************** */

.caixa-meio-centro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-meio-esquerda {
    display: flex;
    align-items: center;
    justify-content: left;
}

.caixa-meio-direita {
    display: flex;
    align-items: center;
    justify-content: right;
}

.caixa-meio-topo {
    display: flex;
    align-items: start;
    justify-content: center;
}


.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.conteiner-pequeno {
    display: block;
    width: 40%;
    min-width: 70px;
    max-width: 500px;
    margin: auto;
}

.conteiner-medio {
    display: block;
    width: 60%;
    min-width: 150px;
    max-width: 700px;
    margin: auto;
}

.conteiner-grande {
    display: block;
    width: var(--width-nav-std);
    min-width: var(--width-nav-min);
    max-width: var(--width-nav-max);
    margin: auto;
}

.conteiner-inline-pequeno {
    display: inline-block;
    width: 25%;
    min-width: 70px;
    max-width: 500px;
}

.conteiner-inline-medio {
    display: inline-block;
    width: 60%;
    min-width: 150px;
    max-width: 700px;
}

.conteiner-inline-grande {
    display: inline-block;
    width: var(--width-nav-std);
    min-width: var(--width-nav-min);
    max-width: var(--width-nav-max);
}